.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  background: linear-gradient(rgba(black, 1), rgba(black, 0) 99%);
  transition: all $transition_duration;
}

.header-container {
  display: flex;
  padding: 0 2.5rem;
  height: $header-height;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 222;
  h1 {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
    a {
      color: white;
      transition: color $transition_duration;
      text-decoration: none;
    }
  }
}

.header-menu-toggle {
  transition: all $animate_fade_duration;
  color: $primary;
  padding: 5px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1px;
    border-top: 1px solid currentColor;
  }
  &:after {
    content: '';
    display: block;
    width: 40px;
    height: 15px;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
  }
  &.in {
    color: inherit;
  }
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('../../img/bg-menu@2x.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: $body-bg;

  .header-menu-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.header-nav {
  list-style-type: none;
  align-self: stretch;
  display: flex;
  align-items: stretch;
  padding: 0;
  margin: 0;
  .nav-item {
    pointer-events: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:after,
    &:before {
      content: '';
      display: block;
      width: 1px;
      background-color: white;
      opacity: 0.2;
      left: 50%;

      flex: 1;
      transform: translateZ(0);
    }
    &:after {
      transition: transform 1.4s linear;
    }

    &:nth-child(1) {
      &:after,
      &:before {
        width: 2px;
      }
    }
    &:nth-child(2) {
      &:after,
      &:before {
        width: 1.5px;
      }
    }
    &:nth-child(3) {
      &:after,
      &:before {
        width: 1px;
      }
    }
    &:nth-child(4) {
      &:after,
      &:before {
        width: 0.5px;
      }
    }
    &:hover {
      .header-sub-nav {
        li {
          opacity: 1;
          transition: opacity 0.5s linear;
          &:nth-child(1) {
            transition-delay: 0s;
          }
          &:nth-child(2) {
            transition-delay: 0.2s;
          }
          &:nth-child(3) {
            transition-delay: 0.4s;
          }
          &:nth-child(4) {
            transition-delay: 0.6s;
          }
        }
      }

      &.has-subnav {
        &::after {
          transition-duration: 0.6s;
          transition-delay: 0;
          transform: translateY(10.4rem);
        }
      }
    }
  }
  .nav-link {
    pointer-events: visible;
    display: block;
    color: inherit;
    text-decoration: none;
    width: $lines_size;
    text-align: center;
    font-size: 1.1rem;
    padding: 1.5rem 0;
    color: $nav-link-color;
    transition: color $transition_duration;
    &:hover {
      color: $primary;
      & + .header-sub-nav {
        pointer-events: visible;
      }
    }
  }
  .header-sub-nav {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 2.05rem;
    &:hover {
      pointer-events: visible;
    }
    .nav-link {
      padding: 0;
      margin: 0 0 1.5rem;
    }

    li {
      opacity: 0;
      transition: opacity 0.5s linear;
      &:nth-child(4) {
        transition-delay: 0s;
      }
      &:nth-child(3) {
        transition-delay: 0.2s;
      }
      &:nth-child(2) {
        transition-delay: 0.4s;
      }
      &:nth-child(1) {
        transition-delay: 0.6s;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    padding: 0 15px;
    height: $header-height-m;
  }
  .header-menu {
    background-size: 180%;
  }
  .header-nav {
    .nav-link {
      font-size: 0.875rem;
      width: $lines_size-m;
    }
  }
  .page-header {
    &.pined {
      transform: translateY(-100%);
    }
  }
}
