.lang-switch {
  position: absolute;
  top: 25%;
  left: 1.5rem;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:before {
    content: '';
    width: 1px;
    background-color: $primary;
    height: 140px;
    margin-bottom: 2rem;
  }
  li {
    display: block;
    margin-bottom: 1.9rem;
  }
  button {
    display: block;
    transform: rotate(-90deg);
    transition: color 0.5s;
    &.active,
    &:hover {
      color: $primary;
    }
  }
}
@media screen and (max-width: 767px) {
  .lang-switch {
    left: 10px;
    font-size: 0.875rem;
  }
}
