.home-section-hero {
  background-image: url('../../img/bg-hero-home@2x.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  .section-caption {
    width: $lines_size * 5;
    height: $lines_size * 4;
    display: grid;
    font-size: 1.25rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    cursor: pointer;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.highlights-section,
.upcoming-concerts-section {
  padding-left: $section-gutter;
  .slider-container {
    flex: 1;
    min-width: 0;
  }
}
@media screen and (max-width: 767px) {
  .home-section-hero {
    background-size: 180%;
    .section-caption {
      width: $lines_size-m * 5;
      height: $lines_size-m * 4;
    }
  }
}
