.home-section-hero {
  background-image: url('../../img/bg-hero-home@2x.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  .section-caption {
    width: $lines_size * 5;
    height: $lines_size * 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.highlights-section,
.upcoming-concerts-section {
  padding-left: $section-gutter;
  .slider-container {
    flex: 1;
    min-width: 0;
    .slick-slider {
      padding-right: $section-gutter;
    }
    .slick-dots {
      position: absolute;
      width: $section-gutter;
      bottom: 7rem;
      right: 0;
    }
  }
}
.contacts-section {
  display: flex;
  align-items: center;
  border-top: 1px solid $border-color-inverse;
  border-bottom: 1px solid $border-color-inverse;
  .section-content {
    flex: 1 1 50%;
    padding-left: $section-gutter;
    li {
      i {
        color: $primary;
        width: 1rem;
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        margin-right: 2rem;
        text-align: center;
      }
      + li {
        margin-top: 3rem;
      }
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .section-image {
    flex: 1 1 50%;
    padding-bottom: 26.7%;
    align-self: stretch;
    background-size: cover;
    background-position: center;
  }
}
