.library-section-hero {
  background-image: url('../../img/bg-hero-library@2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  box-shadow: inset 0 100vh 0 rgba(0, 0, 0, 0.5);

  &:after,
  &:before {
    display: none;
  }
}
.library-content-items {
  &:not(:empty) {
    min-height: calc(100vh - 70px);
  }
}
.library-nav {
  list-style-type: none;
  align-self: stretch;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 666;
  height: $header-height;
  box-shadow: 0 1px 0 $primary;
  margin-top: -$header-height;
  pointer-events: none;
  transition: all 0.5s;
  background: linear-gradient(rgba(black, 0), rgba(black, 1));
  &.pined {
    background: linear-gradient(rgba(black, 1), rgba(black, 1));
  }
  .menu-opened & {
    opacity: 0;
    pointer-events: none;
  }
  .nav-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    pointer-events: visible;
    &:after,
    &:before {
      content: '';
      display: block;
      width: 1px;
      background-color: white;
      opacity: 0.3;
      left: 50%;
      // margin-left: -1px;
      min-height: 1rem;
    }
    &:before {
      position: absolute;
      height: 110vh;
      bottom: 100%;
      margin-bottom: -1rem;
    }
    &:nth-child(1) {
      &:after,
      &:before {
        width: 2px;
      }
    }
    &:nth-child(2) {
      &:after,
      &:before {
        width: 1.5px;
      }
    }
    &:nth-child(3) {
      &:after,
      &:before {
        width: 1px;
      }
    }
    &:nth-child(4) {
      &:after,
      &:before {
        width: 0.5px;
      }
    }
  }
  .nav-link {
    display: block;
    color: inherit;
    text-decoration: none;
    width: $lines_size;
    text-align: center;
    font-size: 1.1rem;
    margin: 1rem 0;
    color: $nav-link-color;
    &.active {
      color: $primary;
    }
  }
}

.recordings-raw {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.library-content-container {
  padding: 1rem $section-gutter;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .slide-article {
    width: 100%;
    padding-bottom: 0;
    &:nth-child(3n) {
      box-shadow: 1px 0 0 $border-color-inverse;
    }
  }
}

.recordings-content-container {
  padding: 1rem $section-gutter 1rem 0;
  display: flex;
  align-items: stretch;
  .types-filter {
    width: $section-gutter;
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: sticky;
    top: $header-height;
    align-self: flex-start;
    &:before,
    &:after {
      content: '';
      display: block;
      border-left: 1px solid $primary;
      min-height: 5rem;
    }

    li {
      display: flex;
      align-items: center;
      min-height: 8rem;
    }
    button {
      transform: translateX(-50%) rotate(-90deg);
      @include linkHover();
      font-size: 1.25rem;
    }
  }
  .recordings {
    flex: 1;
    padding-top: 5rem;
    border-left: 2px solid $border-color-inverse;
    border-right: 1px solid $border-color-inverse;
  }
  .recording-item {
    font-weight: 300;
    padding-bottom: 1.5rem;
    a {
      text-decoration: none;
      color: inherit;
    }
    .item-year {
      display: flex;
      align-items: center;
      color: $primary;
      margin-bottom: 1.5rem;
      &:before,
      &:after {
        content: '';
        display: block;
        border-top: 1px solid $primary;
        min-width: 1rem;
      }
      &:before {
        margin-right: 0.5rem;
      }
      &:after {
        flex: 1;
        margin-left: 0.5rem;
      }
    }
    .item-name {
      font-size: 1.25rem;
      padding: 0 1.5rem;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    .item-desc {
      font-size: 1.2rem;
      padding: 0 1.5rem;
      color: $primary;
    }
    .line-recordings {
      display: flex;
      align-items: center;
      color: gray;
      margin-bottom: 1.5rem;
      i {
        color: $primary;
        font-size: 1.2rem;
      }
      &:before,
      &:after {
        content: '';
        display: block;
        border-top: 1px solid gray;
        min-width: 1rem;
      }
      &:before {
        margin-right: 0.5rem;
      }
      &:after {
        flex: 1;
        margin-left: 0.5rem;
      }
    }
  }
}

.videos-content-container {
  padding: 1rem $section-gutter 1rem 0;
  display: flex;
  align-items: stretch;
  .types-filter {
    width: $section-gutter;
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: sticky;
    top: $header-height;
    align-self: flex-start;
    &:before,
    &:after {
      content: '';
      display: block;
      border-left: 1px solid $primary;
      min-height: 5rem;
    }

    li {
      display: flex;
      align-items: center;
      min-height: 8rem;
    }
    button {
      transform: translateX(-50%) rotate(-90deg);
      @include linkHover();
      font-size: 1.25rem;
    }
  }
  .recordings {
    flex: 1;
    padding-top: 5rem;
    border-left: 2px solid $border-color-inverse;
    border-right: 1px solid $border-color-inverse;
  }
  .recording-item {
    font-weight: 300;
    padding-bottom: 1.5rem;
    .item-year {
      display: flex;
      align-items: center;
      color: $primary;
      margin-bottom: 1.5rem;
      &:before,
      &:after {
        content: '';
        display: block;
        border-top: 1px solid $primary;
        min-width: 1rem;
      }
      &:before {
        margin-right: 0.5rem;
      }
      &:after {
        flex: 1;
        margin-left: 0.5rem;
      }
    }
    .item-name {
      font-size: 1.25rem;
      padding: 0 1.5rem;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    .item-desc {
      font-size: 1.2rem;
      padding: 0 1.5rem;
      color: $primary;
    }
    .line-recordings {
      display: flex;
      align-items: center;
      color: gray;
      margin-bottom: 1.5rem;
      &:before,
      &:after {
        content: '';
        display: block;
        border-top: 0.6px solid gray;
        min-width: 1rem;
      }
      &:before {
        margin-right: 0.5rem;
      }
      &:after {
        flex: 1;
        margin-left: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .library-content-container {
    display: block;
    padding: 1rem;
  }
  .library-nav {
    // position: static;
    // top: $header-height-m;
    z-index: 999;
    height: 47px;
    margin-top: -47px;
    background: linear-gradient(rgba(black, 0) 0%, rgba(black, 1));
    transition: background $transition_duration;
    &.pined {
      background: linear-gradient(rgba(black, 1) 0%, rgba(black, 1));
    }
    .nav-item {
      &:after {
        min-height: 10px;
      }
      &:before {
        margin-bottom: 0;
      }
    }
    .nav-link {
      margin: 5px 0;
      font-size: 0.9rem;
      width: $lines_size-m;
    }
  }
  .recordings-content-container {
    padding-right: 0;
    border-right: 0;
    padding-top: 0;
    .recordings {
      // padding-top: 3rem;
    }
    .types-filter {
      padding-left: 1.5rem;
    }
  }
  .videos-content-container {
    padding-right: 0;
    border-right: 0;
    .types-filter {
      padding-left: 1.5rem;
    }
  }
}
