@font-face {
  font-family: 'fonticons';
  src: url('../fonts/fonticons.woff2') format('woff2'), url('../fonts/fonticons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fonticons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: '\e904';
}
.icon-mail:before {
  content: '\e905';
}
.icon-tel:before {
  content: '\e906';
}

.icon-youtube:before {
  content: '\e900';
}
.icon-facebook:before {
  content: '\e901';
}
.icon-insta:before {
  content: '\e902';
}
.icon-twitter:before {
  content: '\e903';
}
.icon-press:before {
  content: "\e907";
}
.icon-video:before {
  content: '\f16a';
}
.icon-audio:before {
  content: '\f1be';
}
.icon-press:before {
  content: "\e907";
}
.icon-press-article:before {
  content: "\e926";
}
.icon-album:before {
  content: "\e908";
  color: #fff;
}