html {
  font-size: 16px;
  // font-size: 1.041vw;
  @include media-breakpoint-up(md) {
    font-size: 1.041vw;
  }
}
body {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.transition-group {
  position: relative;
}
.page-content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
