@mixin gridLines($color: white) {
  position: relative;
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    transform: translateX(-25%);
    width: $lines_size * 2;
    border: 0;
    border-style: solid;
    border-color: $color;
    pointer-events: none;
    opacity: 0.3;
    z-index: 3;
  }
  &:before {
    border-left-width: 2px;
    border-right-width: 1px;
    transform: translateX(-75%);
  }
  &:after {
    border-left-width: 1px;
    border-right-width: 0.5px;
  }
  @media screen and (max-width: 767px) {
    &:before,
    &:after {
      width: $lines_size-m * 2;
    }
  }
}

@mixin ellipsis($lineHeight: 1.2em, $lineCount: 1) {
  position: relative;
  line-height: $lineHeight;
  height: $lineHeight * $lineCount;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineCount;
  overflow: hidden;
}

@mixin linkHover {
  transition: color $transition_duration;
  &:hover,
  &.active {
    color: $primary;
  }
}
